@import url(../vendor/fonts/fonts.css);
@import url(../vendor/normalize.css);

.page {
  font-family: 'DMSans', 'Arial', 'Helvetica', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  border: 1px solid pink;
}


.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(230, 232, 236, 1);
}

.logo-content {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

}

.logo-content__img {
  border-right: #E6E8EC;
}

.logo-content__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.logo-content__text:last-child {
  color: #777E91;
}

.search-box {
  border: 2px solid #E6E8EC;
  border-radius: 8px;
  width: 256px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box__input {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 10px 0 10px 16px;

}

.search-box__item {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  outline: none;
}

.button {
  background: none;
  padding: 0;


}

.search-box__button {
  border: 0;
  margin-right: 14px;
}


.actions {
  display: flex;
  flex-direction: row;

  width: 573px;
  justify-content: space-between;
}


.notification {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;

}

.bell {
  width: 18px;
  height: 19px;
  margin: 0 11px 10px 11px;
}

.bell__active {
  width: 12px;
  height: 12px;
  margin: 0 0 0 28px;
}

.actions__button {
  text-align: center;
  border-radius: 90px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.upload {
  background: #3772FF;
  width: 80px;
  height: 40px;
  color: #FCFCFD;
  border: none;

}

.connect {
  width: 137px;
  height: 40px;
  border: 2px solid #E6E8EC;
  background: none;
}

.economy {
  width: 100%;
  margin-bottom: 128px;
}

.economy__content {
  display: flex;
  margin-top: 128px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.economy__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #777E91;
  text-align: center;
  margin-bottom: 8px;
}


.economy__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.start {
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  width: 182px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.auction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 128px;
}

.auction__pic {
  width: 640px;
  height: 800px;
  border-radius: 16px;
}

.content {
  width: 352px;
}

.content__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
  width: 352px;
  margin: 0;
}

.creater {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.creater__img {
  width: 40px;
  height: 40px;
  grid-row: span 2;
}

.creater__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 8px;

}

.creater__info:last-child {
  margin-right: 35px;
}

.creater__title {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}

.creater__value {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.price-box {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border: 2px solid #E6E8EC;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 24px;
  text-align: center;
}

.price__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.price__eth {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}

.price__dollar {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #777E91;
  align-self: stretch;
  margin: 0 0 24px 0;
}

.time {
  width: 231px;
  display: flex;
  justify-content: space-between;
}


.price__end {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-self: stretch;
  margin: 0;
}



.time__block {
  display: flex;
  flex-direction: column;
}


.time__block_number {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
  margin: 0;
}

.time__block_value {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777E91;
  margin: 0;
}

.auction__button {
  width: 352px;
  height: 48px;
  border-radius: 90px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.place {
  background: #3772FF;
  color: #FCFCFD;
  border: none;
  margin-bottom: 8px;
}

.view {
  border: 2px solid #E6E8EC;
  background: none;

}

.arrows {
  margin: 50px 0 0 0;

}

.arrow {
  background: none;
  padding: 0;
  width: 40px;
  height: 40px;
  columns: 30px;
}

.arrows__left {
  border: none;

}

.arrows__right {
  border: none;
  border-radius: 40px;
  border: 2px solid #E6E8EC;
  box-sizing: border-box;
}


.feed {
  display: flex;
  flex-direction: row;
  padding: 140px 160px 128px 160px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature__pic {
  border-radius: 12px;
  overflow: hidden;
  width: 448px;
  height: 432px;
}

.feature__info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.feature__img {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 48px;
  object-fit: cover;
}

.feature__text {
  width: 312px;
}

.feature__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}


.feature__amount {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.feature__highest {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  color: #777E91;
}

.price {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #45B36B;
  margin: 0;
  border: 2px solid #45B36B;
  border-radius: 4px;
  padding: 8px 8px 6px;
}

.list {
  margin-left: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 32px;
  border-right: 2px solid rgba(230, 232, 236, 1);
}

.item {
  display: flex;
  flex-direction: row;
}

.item__info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item__content {
  width: 167px;
  margin-left: 24px;
  height: 106px;
}

.item__pic {
  width: 160px;
  height: 148px;
  border-radius: 12px;
}

.item__image {
  width: 24px;
  height: 24px;
  border-radius: 48px;
}

.item__title {
  width: 167px;
  margin: 21px 0 9px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.item__hug {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777E91;
  margin: 0;
}

.item__button {
  width: 98px;
  height: 32px;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background: none;
  margin-top: 10px;
}

.item__button_active {
  width: 98px;
  height: 32px;
  background: #3772FF;
  border-radius: 90px;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  color: #FCFCFD;
}


.creators {
  margin-left: 32px;
}

.creators__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
  margin: 0;
}

.creator {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  border-bottom: 2px solid #E6E8EC;
}

.user {
  position: relative;
  margin-right: 16px;
}

.user__avatar {
  width: 56px;
  height: 56px;
  border-radius: 48px;
  object-fit: cover;
}

.user__number {
  position: absolute;
  z-index: 999;
  top: -4px;
  left: -4px;
}

.creator__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.creator__name {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}


.creator__wallet {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #353945;
  margin: 0 2px 0 0;

}

.creator__currency {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
  margin: 0;
}

.creators__button {
  width: 158px;
  height: 40px;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  background: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.creator:last-of-type{
  border-color: #FCFCFD;
}